{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {% include "dashboard/layout/components/loader.html.twig" %}

    {% set menu = [
        {
            'path': path('app_homepage'),
            'label': 'Accueil',
            'name': 'accueil'
        },
        {
            'path': path('app_booking'),
            'label': 'Réserver mon ticket',
            'name': 'inscriptions'
        },
        {
            'path': path('app_my_booking'),
            'label': 'Ma réservation',
            'name': 'ma-reservation'
        }
    ] %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% set menuLogged = [
            {
                'path': path('app_login'),
                'label': 'Mon espace',
                'name': 'login'
            },
            {
                'path': path('app_logout'),
                'label': 'Déconnexion',
                'name': 'logout'
            }
        ] %}
        {% set menu = menu | merge(menuLogged) %}
    {% else %}
        {% set menuLogged = [
            {
                'path': path('app_login'),
                'label': 'Mon espace',
                'name': 'login'
            }
        ] %}
        {% set menu = menu | merge(menuLogged) %}
    {% endif %}

    <div class="body">
        <nav class="fixed {% block pageMenu %}{% endblock %}">
            <div class="nav-container">
                <div class="nav-header">
                    <div class="nav-header-logo">
                        <a href="{{ path("app_homepage") }}">
                            Cité de la musique Marseille
                        </a>
                    </div>
                </div>
                <div id="menu" data-menu="{{ menu | json_encode }}"></div>
            </div>
        </nav>

        <main>

            {% if errorPage is not defined %}
                <div class="cite-logo">
                    <div class="cite-logo-container">
                        <a href="{{ path('app_homepage') }}">
                            <img src="{{ asset('build/app/images/logo-ca.png') }}" alt="Logo du site">
                        </a>
                        <div>
                            {% block h1 %}{% endblock %}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div>
                {% block main_content %}{% endblock %}
            </div>

            {% include "app/layout/components/footer.html.twig" %}
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}